---
import SkullFound from "../components/SkullFound.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Whoops..." location="404">
    <section class="relative px-4 flex flex-col items-center w-full h-full overflow-y-auto overflow-x-hidden">
        <SkullFound/>
        <h1 class="absolute w-full text-center top-1/2 text-green-200 text-5xl z-20">Whoops, I didn't find what you're looking for.</h1>
    </section>
</Layout>

<script src="../utils/matrixCanvas.js"></script>