---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Whoops...">
    <h1 class="absolute w-full text-center top-1/2 text-green-200 text-5xl z-20">Whoops, I didn't find what your are looking for</h1>
</Layout>

<script src="../utils/matrixCanvas.js"></script>