---
import NeonFlick from "../components/NeonFlicker.astro";
import NeonTitle from "../components/NeonTitle.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Work Experience" location="experience">
        <section class="p-5 flex flex-col justify-start items-center overflow-y-auto overflow-x-hidden p-4 md:p-0">

            <NeonTitle className="text-3xl md:text-5xl" title='experience'/>
            <br>
            <p class="text-green-500 text-2xl md:w-3/4"> <NeonFlick title="GMR" /> <br>
                During my time at GMR, a startup consulting company, I served as a Fullstack engineer, 
                contributing to various projects that spanned from front-end development to Site Reliability Engineering (SRE). 
                This diverse experience allowed me to acquire a broad range of skills and gain a more comprehensive understanding of the entire project life cycle. 
                The details of the projects I worked on are outlined below. 
            </p>
            <br>
            <p class="text-green-500 text-2xl md:w-3/4">
                <strong>
                    <a class="text-lime-500" href="/projects/ARGO&TEKTON">CICD with Argo and tekton:</a>
                </strong> <br>
                CI/CD pipeline to enhance development efficiency using ArgoCD and Tekton.
            </p>
            <br>
            <p class="text-green-500 text-2xl md:w-3/4">
                <strong>
                    <a class="text-lime-500" href="/projects/py scripts">3Scale scripts:</a>
                </strong> <br>
                Scripts for automating tasks in 3Scale, developed using Python.
            </p>
            <br>
            <p class="text-green-500 text-2xl md:w-3/4">
                <strong>
                    <a class="text-lime-500" href="/projects/api services">Service factory:</a>
                </strong> <br>
                Service factory built with Node.js (Express) and Python (FastAPI) to communicate with an Oracle database.
            </p>
            <br>
            <p class="text-green-500 text-2xl md:w-3/4">
                <strong>
                    <a class="text-lime-500" href="/projects/landing page">Landing page:</a>
                </strong> <br>
                Design and development from scratch using React.js with dynamic animations.
            </p>
            <br>
            <p class="text-green-500 text-2xl md:w-3/4">
                <strong>
                    <a class="text-lime-500" href="/projects/e-billing">E-billing page:</a>
                </strong> <br>
                Refactoring and maintaining a deployed web application built with React Redux.
            </p>
        </section>
</Layout>
