---
import Navbar from "../components/Navbar.astro";
import NeonTitle from "../components/NeonTitle.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="experience">
        <section class="p-5 flex flex-col justify-center items-center">

            <NeonTitle className="text-5xl" title='experience'/>
            <br>
            <p class="text-lime-300  text-2xl font-[Exo 2]"> <strong class="text-9xl text-indigo-600 font-botera-stencil font-medium">Lorem</strong> ipsum dolor sit amet consectetur adipisicing elit. Rem, velit quod quisquam consequuntur beatae unde 
                perferendis nisi non harum adipisci dicta deserunt mollitia quae nemo similique voluptatibus id optio voluptatum.
            </p>
        </section>
</Layout>

<style>

</style>