---
import NeonFlick from "../components/NeonFlicker.astro";
import NeonTitle from "../components/NeonTitle.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="experience">
        <section class="p-5 flex flex-col justify-start items-center overflow-y-auto overflow-x-hidden p-4 md:p-0">

            <NeonTitle className="text-3xl md:text-5xl" title='experience'/>
            <br>
            <p class="text-green-500 text-2xl md:w-3/4"> <NeonFlick title="GMR" /> <br>
                A consultant company where I been able to performance as a fullstack developer, next I will share
                all of projects I've been involved.
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur enim corporis labore magni quo minima impedit repudiandae blanditiis doloribus deleniti ipsum natus, ex fuga molestiae consequuntur eius, facilis ipsam ullam?
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, ipsum esse corrupti asperiores aperiam, praesentium natus provident est explicabo doloremque quidem velit excepturi! At voluptas deserunt inventore animi, porro tempora.
                <br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum, cumque quas quisquam eveniet doloremque porro tempora pariatur itaque doloribus quos rem aspernatur laudantium, libero modi deleniti. Temporibus et similique inventore.
                <br>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit sunt in, quaerat officia temporibus expedita necessitatibus eaque non beatae, ipsa veritatis autem! Eum debitis maxime, ut fuga dolor iste quo.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione numquam recusandae aut possimus aperiam fuga, eaque culpa iure adipisci deserunt quam non quae nobis labore nulla nihil facere sed temporibus.
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique omnis saepe enim obcaecati quae, adipisci velit consequatur laudantium iusto cupiditate quibusdam amet nihil, laborum explicabo hic veritatis distinctio perferendis minus.
            </p>
            <p></p>
        </section>
</Layout>
