---
import Navbar from "../components/Navbar.astro";
import NeonFlick from "../components/NeonFlicker.astro";
import NeonTitle from "../components/NeonTitle.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="experience">
        <section class="p-5 flex flex-col justify-center items-center">

            <NeonTitle className="text-5xl" title='experience'/>
            <br>
            <p class="text-green-500 text-2xl"> <NeonFlick title="GMR" /> a consultant company where I been able to performance as a fullstack developer, next I will share
                all of projects I've been involved.
            </p>
        </section>
</Layout>
