---
import Layout from '../layouts/Layout.astro';
import { MatrixWord } from '../components/MatrixWord.tsx';
---

<Layout title="home">
		<section class="flex flex-col items-center justify-center gap-12 w-2/3 m-auto">
			<MatrixWord word='DUARTE ELIAS DAVID' letterTime={2} animationTime={50} client:visible />
		<div class="text-left flex flex-col  text-green-300 gap-2 font-vga text-xl">
			<p class="px-2">
				I am honored that you came here to know about me, so I'm a Full-Stack developer, I have been working with javascript and typescript in both front-end and back-end.
				I developed applications with nodeJS, also I worked with React and Astro for web-apps. I have experience with DevOps, due I've been work with CI-CD pipelines in a OpenShift cluster.
				If you want to know more about me, go and check the others sections, like experience or my projects. And if you want to work with me, let me know 
				here<span class="pipe font-black">|</span>
			</p>
		</div>
	</section>
</Layout>

<style>
	.pipe{
		animation: onlyfade .75s ease-out both alternate infinite;
	}
	@keyframes onlyfade {
		from{
			opacity: 1;
		}
		to{
			opacity: 0;
		}
	}
</style>