---
import Layout from '../layouts/Layout.astro';
import { MatrixWord } from '../components/MatrixWord.tsx';
---

<Layout title="Welcome!" location='home'>
		<section class="flex flex-col items-center justify-center gap-12 md:w-2/3 md:m-auto p-4 md:p-0 overflow-y-auto overflow-x-hidden md:overflow-visible">
			<MatrixWord word='DUARTE ELIAS DAVID' letterTime={2} animationTime={50} client:visible />
		<div class="text-left flex flex-col  text-green-300 gap-2 font-vga text-xl">
			<p class="px-2">
				I’m a Front-end engineer, working mainly with Javascript and Typescript, using React, Astro, Tailwind. 
				I also have experience working on the backend using NodeJS and Python. 
				Additionally, I'm familiar with DevOps concepts, as I've worked with CI/CD pipelines in an OpenShift cluster.<span class="pipe font-black">|</span>
			</p>
		</div>
	</section>
</Layout>

<style>
	.pipe{
		animation: onlyfade .75s ease-out both alternate infinite;
	}
	@keyframes onlyfade {
		from{
			opacity: 1;
		}
		to{
			opacity: 0;
		}
	}
</style>