---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Projects">
    <section>
        <h1 class="text-[#6e6] text-5xl text-center">Projects</h1>
        <br>
        <p class="text-[#3ea] text-2xl font-[Exo 2]"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, velit quod quisquam consequuntur beatae unde 
            perferendis nisi non harum adipisci dicta deserunt mollitia quae nemo similique voluptatibus id optio voluptatum.</p>
    </section>

</Layout>

<style>
    section{
        width: 70%;
        height: 100vh;
    }
</style>