---
import Navbar from "../components/Navbar.astro";
import TerminalCard from "../components/TerminalCard.astro";
import NeonTitle from "../components/NeonTitle.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="projects">
    <section class="p-5 flex flex-col items-center w-full h-full overflow-y-auto overflow-x-hidden">
        <NeonTitle className="text-5xl text-teal-200 drop-shadow-blue-neon" title="projects"/>            
            <br>
              <ul class="flex flex-wrap gap-5">
                <TerminalCard title="Messi" body="Hola soy messi el mejor del mundo y te mando un fuerte abrazo pa'" href="google.com" img="https://pbs.twimg.com/media/FkbNNUYXkAMIn3F.jpg" alt="messi chikito"/>
                <TerminalCard title="Messi" body="Hola soy messi el mejor del mundo y te mando un fuerte abrazo pa'" href="google.com" img="https://pbs.twimg.com/media/FkbNNUYXkAMIn3F.jpg" alt="messi chikito"/>
                <TerminalCard title="Messi" body="Hola soy messi el mejor del mundo y te mando un fuerte abrazo pa'" href="google.com" img="https://pbs.twimg.com/media/FkbNNUYXkAMIn3F.jpg" alt="messi chikito"/>
                <TerminalCard title="Messi" body="Hola soy messi el mejor del mundo y te mando un fuerte abrazo pa'" href="google.com" img="https://pbs.twimg.com/media/FkbNNUYXkAMIn3F.jpg" alt="messi chikito"/>
                <TerminalCard title="Messi" body="Hola soy messi el mejor del mundo y te mando un fuerte abrazo pa'" href="google.com" img="https://pbs.twimg.com/media/FkbNNUYXkAMIn3F.jpg" alt="messi chikito"/>
                <TerminalCard title="Messi" body="Hola soy messi el mejor del mundo y te mando un fuerte abrazo pa'" href="google.com" img="https://pbs.twimg.com/media/FkbNNUYXkAMIn3F.jpg" alt="messi chikito"/>
                <TerminalCard title="Messi" body="Hola soy messi el mejor del mundo y te mando un fuerte abrazo pa'" href="google.com" img="https://pbs.twimg.com/media/FkbNNUYXkAMIn3F.jpg" alt="messi chikito"/>
            </ul>
        </section>

</Layout>

<style>
      body{
    background-color: #060709;
  }
</style>
