---
import Navbar from "../components/Navbar.astro";
import TerminalCard from "../components/TerminalCard.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Projects">
    <main class="flex w-full h-full justify-between">
        <section>
            <h1 class="text-green-500 text-5xl uppercase text-center">Projects</h1>
            <br>
              <ul class="flex flex-wrap gap-5">
                <TerminalCard title="Messi" body="Hola soy messi el mejor del mundo y te mando un fuerte abrazo pa'" href="google.com" img="https://pbs.twimg.com/media/FkbNNUYXkAMIn3F.jpg" alt="messi chikito"/>
                <TerminalCard title="Messi" body="Hola soy messi el mejor del mundo y te mando un fuerte abrazo pa'" href="google.com" img="https://pbs.twimg.com/media/FkbNNUYXkAMIn3F.jpg" alt="messi chikito"/>
                <TerminalCard title="Messi" body="Hola soy messi el mejor del mundo y te mando un fuerte abrazo pa'" href="google.com" img="https://pbs.twimg.com/media/FkbNNUYXkAMIn3F.jpg" alt="messi chikito"/>
                <TerminalCard title="Messi" body="Hola soy messi el mejor del mundo y te mando un fuerte abrazo pa'" href="google.com" img="https://pbs.twimg.com/media/FkbNNUYXkAMIn3F.jpg" alt="messi chikito"/>
                <TerminalCard title="Messi" body="Hola soy messi el mejor del mundo y te mando un fuerte abrazo pa'" href="google.com" img="https://pbs.twimg.com/media/FkbNNUYXkAMIn3F.jpg" alt="messi chikito"/>
                <TerminalCard title="Messi" body="Hola soy messi el mejor del mundo y te mando un fuerte abrazo pa'" href="google.com" img="https://pbs.twimg.com/media/FkbNNUYXkAMIn3F.jpg" alt="messi chikito"/>
                <TerminalCard title="Messi" body="Hola soy messi el mejor del mundo y te mando un fuerte abrazo pa'" href="google.com" img="https://pbs.twimg.com/media/FkbNNUYXkAMIn3F.jpg" alt="messi chikito"/>
            </ul>
        </section>
        <Navbar selected="projects"/>
    </main>

</Layout>

<style>
    section{
        margin: auto;
        width: 70%;
        height: 100%
        
    }
</style>