---
interface Props {
  blockQuantity: number;
}
const {blockQuantity} = Astro.props
const gapQuantity= blockQuantity - 1
const dur = `${blockQuantity}s`
---
<div class="relative w-full md:w-[32rem] mb-4 mt-[-2rem] w-min-full h-20 z-20 mx-auto overflow-hidden wrapper">
  <div id="carousel" class="w-max h-full flex">
    <slot/>
  </div>
</div>

<style define:vars={{blockQuantity, gapQuantity, dur}}>
  *{
    --block-size: 7rem;
    --block-gap: 2rem;
  }
  #carousel :global(img){
    height: 100%;
    width: var(--block-size);
    background-position: 0 50%;
  }
  #carousel{
    position: relative;
    translate: calc(-100% + (var(--block-size) * var(--blockQuantity) + var(--block-gap) * var(--gapQuantity)));
    gap: var(--block-gap);
    animation: slide-left var(--dur) linear infinite;
  }
  .wrapper::before,
  .wrapper::after{
    content: '';
    width: 10%;
    height: 100%;
    position: absolute;
    top:0;
    z-index: 1;
  }
  .wrapper::after{
    left: 0;
    background: linear-gradient(90deg, #04262c 20%, transparent 100%); 
  }
  .wrapper::before{
    right: 0;
    background: linear-gradient(270deg, #04262c 20%, transparent 100%); 
  }
  @keyframes slide-left {
    to{
      translate: 0;
    }
  }
</style>