---
interface Props {
	selected:string;
}

const { selected } = Astro.props;
const locations = ['home','projects','experience','contact']
---
<nav class="p-5 w-min h-screen">
    <ul class="h-full text-green-500  text-5xl  flex flex-col justify-around">
        {locations.map(loc=>(
            <li class={loc === selected ? 'text-teal-200 selected':'hover:drop-shadow-neon'}>
                <a href={`/${loc !== 'home' ? loc : ''}`}>
                    {loc}
                </a></li>
        ))}
        <ul>
            <li><a href="https://linkedin.com">linkedin</a></li>
            <li><a href="https://gmail.com">email</a></li>
            <li><a href="https://github.io">github</a></li>
            <li><a href="https://codepen.io">codepen</a></li>
        </ul>
    </ul>
</nav>

<style>
    li{
        transition: all .2s cubic-bezier(.17,.67,.83,.67);
        text-transform: uppercase;
        font-family: IBM_VGA;
    }
    li:hover{
        transform: scale(1.1);
    }
    .selected > a{
        cursor: default;
    }
    .selected:hover{
        transform: none;
        text-shadow: none;
    }
</style>