---
interface Props{
    title:string
    className?:string
}
const {title, className} = Astro.props
---

<h1 class={`text-green-500 drop-shadow-neon text-center uppercase before:animate-ping  ${className ?? ''}`}>{title}</h1>

<style>

    h1::before{
        --extra:2rem;
        content: "";
        width: calc(100% + var(--extra));
        height: 3px;
        position: absolute;
        background-color: var(--green-500);
        top: 50%;
        left: calc(0px - var(--extra));
        box-shadow: 0 0 10px 3px var(--green-500);
        border-radius: 50% 50%;
        opacity: .7;
        animation-iteration-count: 1;
        animation-fill-mode: both;
        animation-delay: .5s;
        animation-duration: 1s;
    }
</style>