---
interface Props{
    title:string
    className?:string
}
const {title, className} = Astro.props
---

<h1 class={`text-green-500 drop-shadow-neon  text-center uppercase ${className ?? ''}`}>{title}</h1>