---
import { ViewTransitions } from 'astro:transitions';
interface Props {
	title: string;
}

const anim = {
  old: {
    name: 'none',
    duration: '1.5s',
    easing: 'linear',
    fillMode: 'both',
  },
  new: {
    name: 'slideOut',
		delay:'0.5s',
    duration: '1s',
    easing: 'linear',
    fillMode: 'both',
  }
};

const slideDown = {
  forwards: anim,
  backwards: anim,
};

const anim2 = {
  old: {
    name: 'fadeInDiv',
    duration: '1.5s',
    easing: 'linear',
    // fillMode: 'forwards',
    fillMode: 'backwards',
  },
  new: {
    name: 'fadeOutDiv',
    duration: '1.5s',
    easing: 'linear',
    fillMode: 'forwards',
  }
};

const fadeado = {
  forwards: anim2,
  backwards: anim2,
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Merriweather+Sans&family=Roboto+Slab:wght@500&family=Space+Grotesk&family=Space+Mono&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions/>
	</head>
	<body transition:name="slide" transition:animate={slideDown}>
		<slot/>
		<div id="divaso" transition:name="divaso" transition:animate={fadeado}></div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		background: #101510;
		font-family: system-ui, sans-serif;
	}
	body{
		min-height: 100vh;
		overflow: hidden;
	}
	h1, h1> *{
		font-family: 'SWIFT';
		font-weight: 500;
	}
	p{
		font-family: 'Space Mono';
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	::view-transition-group(slide){
		animation: none;
	}
	::view-transition-image-pair(slide){
		isolation: auto;
	}
	::view-transition-new(slide),
	::view-transition-old(slide){
		mix-blend-mode: normal;
		display: block;
	}
	#divaso{
		position: absolute;
		top: -100%;
		left: -10vw;
		height: 100vh;
		transform: none;
		width: 120vw;
		background: url("/assets/img/matrix_rain.png") repeat-x;
		background-size:contain;
		user-select: none;
		pointer-events: none;
		opacity: .4;
	}

	/* KEYFRAMES */

	@keyframes slideIn {
		from{
			transform:translateY(0%)
		}
		to{
			transform:translateY(100vh);
		}
	}
	@keyframes slideOut {
		from{
			clip-path: inset(0px 0px 100% 0px);
		}
		to{
			clip-path: inset(0px 0px 0px 0px);
		}
	}
	@keyframes fadeOutDiv {
		0%{
			transform: translate(0,0);
		}
		33%{
			transform:  translate(-10vw, 100%);
		}
		67%{
			transform: translate(5vw,150%);
		}
		100%{
			transform: translate(-10vw, 200%);
		}
	}

	@keyframes fadeInDiv {
		0%{
			transform: translate(0,0);
		}
		33%{
			transform: translate(10vw, 100%);
		}
		67%{
			transform: translate(-5vw,150%);
		}
		100%{
			transform: translate(10vw, 200%);
		}
		}

		/* FUENTES */

		@font-face {
			font-family: 'IBM_MDA';
			src: url('/assets/fonts/IBM_MDA/MDA.woff') format('woff');
			font-weight: normal;
			font-style: normal;
		}
		@font-face {
			font-family: 'IBM_MDA';
			src: url('/assets/fonts/IBM_MDA/MDA.ttf') format('ttf');
			font-weight: normal;
			font-style: normal;
		}
		@font-face {
			font-family: 'IBM_MDA_PLUS';
			src: url('/assets/fonts/IBM_MDA/MDA_PLUS.ttf') format('ttf');
			font-weight: normal;
			font-style: normal;
		}
		@font-face {
			font-family: 'IBM_VGA';
			src: url('/assets/fonts/IBM_VGA/VGA.woff') format('woff');
			font-weight: normal;
			font-style: normal;
		}
		@font-face {
			font-family: 'IBM_VGA';
			src: url('/assets/fonts/IBM_VGA/VGA.ttf') format('ttf');
			font-weight: normal;
			font-style: normal;
		}
		@font-face {
			font-family: 'IBM_VGA_PLUS';
			src: url('/assets/fonts/IBM_VGA/VGA_PLUS.ttf') format('ttf');
			font-weight: normal;
			font-style: normal;
		}
		@font-face {
			font-family: 'BOTERA';
			src: url('/assets/fonts/BoteraFont/Botera-Regular.otf') format('woff');
			font-weight: normal;
			font-style: normal;
		}
		@font-face {
			font-family: 'BOTERA_STENCIL';
			src: url('/assets/fonts/BoteraFont/Botera-RegularStencil.otf') format('woff');
			font-weight: normal;
			font-style: normal;
		}
		@font-face {
			font-family: 'SWIFT';
			src: url('/assets/fonts/Swift/Swift-04-Regular.otf') format('woff');
			font-weight: normal;
			font-style: normal;
		}
		@font-face {
			font-family: 'SWIFTSC';
			src: url('/assets/fonts/Swift/Swift-04-RegularSC.otf') format('woff');
			font-weight: normal;
			font-style: normal;
		}
		/* @font-face {
			font-family: 'EMBERLY';
			src: url('https://www.behance.net/gallery/87667103/Emberly-Free-Typeface-54-Styles/modules/513862583') format('woff');
			font-weight: normal;
			font-style: normal;
		} */
		
</style>