---
import { ViewTransitions } from 'astro:transitions';
interface Props {
	title: string;
}

const anim = {
  old: {
    name: 'slideIn',
    duration: '0.5s',
    easing: 'linear',
    fillMode: 'forwards',
  },
  new: {
    name: 'slideOut',
    duration: '0.5s',
    easing: 'linear',
    fillMode: 'backwards',
  }
};

const slideDown = {
  forwards: anim,
  backwards: anim,
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions/>
	</head>
	<body transition:animate={slideDown}>
		<slot/>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	::view-transition-group(divaso) {
		inset: auto 0 0;
		height: 35vh;
		background: url("https://cdn.glitch.global/b2a0e9e8-12a2-4158-b2d8-11ef08ab8d68/dust%20(1).avif?v=1676473942321") repeat-x bottom;
		background-size: contain;
		transform: none;
		width: auto;
		transform-origin: 50% 100%;
	}

	::view-transition-group(divaso) {
		height: 18vh;
	}
	::view-transition {
  will-change: transform;
  inset: 0;
}

::view-transition-image-pair(root) {
  isolation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
  display: block;
}
	@keyframes slideIn {
		from{
			transform:translateY(0%)
		}
		to{
			transform:translateY(100vh);
		}
	}
	@keyframes slideOut {
		from{
			transform:translateY(-100vh)
		}
		to{
			transform:translateY(0%);
		}
	}
</style>

<script>
	document.addEventListener('astro:page-load',()=>{
		const newDiv = document.createElement('div')
		// @ts-ignore: Unreachable code error
		newDiv.style.viewTransitionName = 'divaso'
		newDiv.style.height = '40px'
		newDiv.style.width = '40px'
		newDiv.style.backgroundColor = '#F00'
		document.body.append(newDiv)
		console.log(newDiv)
		document.documentElement.animate({
			opacity:['1','0']
		},{
			duration: 500,
			easing: 'ease-in',
			pseudoElement: '::view-transition-group(divaso)'
		})
		document.documentElement.animate({
			opacity:['1','0']
		},{
			duration: 500,
			easing: 'ease-in',
			pseudoElement: '::view-transition-group(divaso)'
		})
		
	})
</script>